@model StockManagementOperation.Order
@{
    ViewBag.Title = "PayConfirmation";
    Layout = "~/Views/Anasayfa2.cshtml";
}

 
@if (Model != null)
{



<div class=".col-md-6 .offset-md-3">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <h2 class="bg-success">Ödeme Tamamlandı Email Adresinize Ek Bilgiler Gönderildi </h2>

    <div class="progress mb-4">
      
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Ödeme Tamamlandı </div>
    </div>

    <h3 class=" bg-danger">  <a href="~/Pdf/GetInvoice/?randomkeyy=@Model.OrderInvoice">Faturayı Indirmek İçin Tıklayınız.</a> </h3>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>
}
else
{
    if (ViewBag.Hata != null)
    {
    <h3>@ViewBag.Hata</h3>
    }
  

}