@model IEnumerable<StockManagementOperation.Slider>
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Admin_Panel.cshtml";
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#flip1").click(function () {
                $("#panel1").slideToggle("slow");
            });
        });
    </script>

    <style>
        #panel, #flip {
            padding: 5px;
            text-align: center;
            background-color: #F1F2F7;
            border: solid 1px #272C33;
        }

        #panel {
            padding: 50px;
            display: none;
        }

        #panel1, #flip1 {
            padding: 5px;
            text-align: center;
            background-color: #F1F2F7;
            border: solid 1px #272C33;
        }

        #panel1 {
            padding: 50px;
            display: none;
        }
    </style>
</head>
<body>
    @{
        if (Session["hata"] != "")
        {
            <center><h3 class="bg-warning">@Session["hata"]</h3></center>
            Session["hata"] = "";
        }
    }
    <div id="flip">Slider Ekle</div>
    <div id="panel">
        @using (Html.BeginForm("AddSlider", "AdminSlider", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label>Slider İsmi</label>
                <input type="text" class="form-control" placeholder="Slider İsmi" name="slidername">
            </div>
            <div class="form-group">
                <label>Tıklayınca Gidecek Yolu Giriniz</label>
                <input type="text" class="form-control" placeholder="Tıklayınca Gidecek Yolu Giriniz" name="photourl">@*furkan yazdırdı*@
            </div>
            <div class="form-group">
                <label>Slider Resminizi Seciniz</label>
                <input type="file" name="myFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="Kaydet" />
            </div>
        }
    </div>

    <div id="flip1">Slider Sil</div>
    <div id="panel1">
        <center>
            <table class="table-bordered table-responsive table-striped table-condensed table-hover col-6">
                @foreach (var sliderıtem in Model)
                {
                    <tr>
                        <th width="300px">@sliderıtem.SliderName</th>
                        <th> <img src="@sliderıtem.PhotoUrl" style="width:300px;height:100px;" /> </th>
                        <td width="300px">@Html.ActionLink("Sil", "DeleteSlider", "AdminSlider", new { @id = sliderıtem.SliderID }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </table>
        </center>

    </div>

</body>
</html>



