
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Anasayfa2.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

@using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @name = "myForm" }))
{
    
     
<div class="col-lg-5" ng-app="">
    <div class="form-group">
        @if(ViewBag.Random != null)
        {



        <h3>Email Adresiniz</h3>
        <input type="email" class="form-control" name="Email" ng-model="text" placeholder="Email" />
        <span ng-show="myForm.email.$error.email">Hatalı Mail Adresi Girdiniz</span>
        }
    </div>


    @if (ViewBag.Random != null)
            {



                foreach (StockManagementOperation.RandomKeyResetPassword gelen in ViewBag.Random)
                {

                    Session.Add("forgetpwkey", gelen.RandomText);

            <div class="form-group">
                <h3><span>Alt Kısıma Doğrulama Olarak</span> <span class="text-danger"> "@gelen.RandomText" </span> <span> Yazınız </span></h3>

                <input type="text" class="form-control " name="dogrulama" placeholder="Doğrulama Kodu" />


            </div>
        }


            <div class="form-group">

                <input type="submit" class="form-control btn-success " value="Giriş Yap" />
            </div>
        


    }
 


    @{
        if (TempData["Forgetpw"] != null)
        {
            <h3 class="bg-warning">@TempData["Forgetpw"]</h3>
            
        }
    }
</div>
}
